<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>326557702684-8b9a1fusr1htk7re11ngnd9g12b5pmv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.326557702684-8b9a1fusr1htk7re11ngnd9g12b5pmv8</string>
	<key>API_KEY</key>
	<string>AIzaSyCqUFcOm2rV6erZj6_0S7tRKnI_AtH07mo</string>
	<key>GCM_SENDER_ID</key>
	<string>326557702684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DemirciJohn.StudyPal</string>
	<key>PROJECT_ID</key>
	<string>studypal-515a8</string>
	<key>STORAGE_BUCKET</key>
	<string>studypal-515a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326557702684:ios:0b930b44cd129b01575dd9</string>
	<key>DATABASE_URL</key>
	<string>https://studypal-515a8.firebaseio.com</string>
</dict>
</plist>